*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;

  /* Color */
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #2196f3;
  --color-4: #f57501;
  --color-5: #fb9801;
  --color-6: #f5f6f8;
  --color-7: #285da9;
  --color-8: #4d4d4d;
  --color-9: #FF90B3;
  --color-10: #dc3545;
  --color-11: #1d74bc;
  --color-12: #ffe9ce;
  --color-13: #e3505e;
  
  /* Dynamic Padding */
  --padding-d-xl-v: calc(2rem + 8vh);
  --padding-d-xl-h: calc(2rem + 8vw);

  --padding-d-l-v: calc(1rem + 4vh);
  --padding-d-l-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static Padding */
  --padding-s-l-h: 3rem;
  --padding-s-l-v: 2rem;

  --padding-s-m-h: 2.5rem;
  --padding-s-m-v: 1.5rem;

  --padding-s-s-h: 2rem;
  --padding-s-s-v: 1rem;

  --padding-s-xs-h: 1.5rem;
  --padding-s-xs-v: .75rem;

  /* Dynamic Font Size */
  --font-size-d-xxl: calc(2rem + 4vw);
  --font-size-d-xl: calc(2rem + 2vw);
  --font-size-d-l: calc(1rem + 1.75vw);
  --font-size-d-m: calc(1rem + 1.5vw);
  --font-size-d-s: calc(1rem + .75vw);

  /* Static Font Size */
  --font-size-s-xxl: 3rem;
  --font-size-s-xl: 2.5rem;
  --font-size-s-l: 2rem;
  --font-size-s-m: 1.75rem;
  --font-size-s-s: 1.6rem;
  --font-size-s-xs: 1.4rem;
  --font-size-s-xxs: 1.2rem;
}

body {
  background-color: var(--color-1);
  color: var(--color-2);
  font-size: var(--font-size-s-s);
  line-height: 1.6;
}

main {
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
input::placeholder, 
select,
option {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-s-s);
  line-height: 1.6;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-2);
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Utilities */
.section-padding {
  padding: var(--padding-d-xl-v) var(--padding-d-xl-h);
}

.section-title {
  font-size: var(--font-size-d-m);
  font-weight: 600;
}

.section-para {
  font-size: var(--font-size-s-s);
  text-align: center;
}

.btn {
  font-size: var(--font-size-s-s);
  background-color: var(--color-1);
  color: var(--color-2);
  padding: var(--padding-s-s-v) var(--padding-s-l-h);
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn-primary {
  background-color: var(--color-4);
  color: var(--color-1);
}

.btn-primary:hover {
  background-color: var(--color-5);
}

.btn-secondary {
  background-color: var(--color-5);
  color: var(--color-1);
}

.btn-secondary:hover {
  background-color: var(--color-4);
}

.btn-info {
  background-color: var(--color-3);
  color: var(--color-1);
}

.btn-info:hover {
  background-color: var(--color-11);
}

.btn-danger {
  background-color: var(--color-10);
  color: var(--color-1);
}

.btn-danger:hover {
  background-color: var(--color-13);
}

.breadcrumb {
  padding: var(--padding-d-l-v) var(--padding-d-xl-h) 0;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.breadcrumb .link {
  color: var(--color-3);
  font-weight: 500;
  cursor: pointer;
}

.breadcrumb .link:hover {
  color: var(--color-2);
}

@media screen and (max-width: 1000px) {
  .section-padding {
    padding: var(--padding-d-l-v) var(--padding-d-l-h);
  }

  .section-title {
    font-size: var(--font-size-s-xl);
  }

  .breadcrumb {
    padding: var(--padding-d-l-v) var(--padding-d-l-h) 0;
  } 
}

@media screen and (max-width: 700px) {
  main {
    min-height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  .section-title {
    text-align: center;
  }
}
