.header {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--color-3);
  color: var(--color-1);
  padding: var(--padding-d-m-v) var(--padding-d-xl-h);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.header a {
  color: var(--color-1);
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.header a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.header > .leading {
  display: flex;
  align-items: center;
}

.header > .leading > .logo {
  font-size: var(--font-size-s-l);
  color: var(--color-1);
  font-weight: 600;
}

.header > .collapse {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.header > .collapse > nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header > .collapse > .actions {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header > .collapse > .actions > .favorite {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > .collapse > .actions > .btnSign {
  font-size: var(--font-size-s-s);
  background-color: var(--color-4);
  color: var(--color-1);
  padding: var(--padding-s-s-v) var(--padding-s-l-h);
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.header > .collapse > .actions > .btnSign:hover {
  background-color: var(--color-5);
}

.header .hamburger {
  position: fixed;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: var(--padding-d-m-v) var(--padding-d-l-h);
  }

  .header > .collapse {
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: var(--padding-d-xl-v) var(--padding-d-xl-h);
    font-size: var(--font-size-s-m);
    background-color: rgba(20, 92, 158, 0.97);
    z-index: 20;
    transform: translateX(100rem);
    transition: all 0.5s ease-in-out;
  }

  .header > .collapse > nav {
    flex-direction: column;
    margin-top: 6rem;
  }

  .header > .collapse > .actions {
    flex-direction: column;
  }

  .header > .collapse > .actions > .btnSign {
    font-size: var(--font-size-s-m);
  }

  .header .hamburger {
    top: 1.5rem;
    right: 5rem;
    height: 5rem;
    width: 5rem;
    padding: var(--padding-s-s-v);
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 30;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  }

  .header .hamburgerLine {
    height: 3px;
    background-color: var(--color-1);
  }

  .header .hamburgerLine:first-child {
    width: 50%;
    transition: all 0.25s ease;
  }

  .header .hamburgerLine:nth-child(2) {
    transition: all 0.1s ease;
  }

  .header .hamburgerLine:last-child {
    width: 50%;
    transition: all 0.25s ease;

    align-self: flex-end;
  }

  .header .showNav {
    transform: translateX(0) !important;
  }

  .header .hamburgerLine1 {
    background-color: var(--color-1);
    width: 75% !important;
    transform: rotate(45deg) translateX(1rem) translateY(0.45rem);
  }

  .header .hamburgerLine2 {
    visibility: hidden;
  }
  
  .header .hamburgerLine3 {
    background-color: var(--color-1);
    width: 75% !important;
    transform: rotate(-45deg) translateX(0.45rem) translateY(-1rem);
  }
}

@media screen and (max-width: 400px) {
  /* .header > .collapse {
    width: 100%;
  } */

  .header .hamburger {
    right: 3rem;
  }
}
